.imgAcc{
    width: 500px;
    border-radius: 15px;
    margin-top: 10px;
    img{
        width: 100%;
        border-radius: 15px;
    }
}
.title2{
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
}
.paraAcc{
    max-width: 800px;
    margin: 20 auto;
    text-align: center;
    p:first-letter{
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--color-primary);
    }
}

button{
    background-color: var(--color-primary);
    color: var(--color-gray-2);
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: var(--color-gray-2);
        color: var(--color-primary);
    }
}