h1{
    text-align: center;
    font-family: var( --font-family-secondary);
}
.grid{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 350px);
    grid-auto-columns: repeat(3, 350px);
    grid-gap: 20px;
    .elemt{
        border:1px solid red;
        height: 500px;
    }
}
.contentCard{
    width: 1130px;
}