body{
    margin: 0;
    font-family: var(--font-family-primary);
    color: var(--text-color);
    background-color: var(--color-gray-2);
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--font-family-secondary);
    font-weight: 700;
    margin: 0;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
img{
    max-width: 100%;
}
.text-red{
    color: var(--text-color-red);
    font-weight: bolder;
}