.b1{
    border: 1px solid red;
    background-color: red;
}
.b2{
    border: 1px solid green;
    background-color: green;
}
.b3{
    border: 1px solid blue;
    background-color: blue;
}
.b4{
    border: 1px solid purple;
    background-color: purple;
}