:root{
    --color-primary: rgb(248, 166, 115);
    --color-gray-1: #353840;
    --color-gray-2: #f1ecec;
    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secondary: 'Raleway', sans-serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: 0px 2px 18px 0px rgb(0 0 0 / 22%);
    --text-color:#1f1d1da1;
}